:root {
    --clr-neutral-100: #60A3D9;
    --clr-neutral-200: #75E6DA;
    --clr-primary-100: #274472;
    --clr-primary-200: #BFD7ED;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: 2px solid var(--clr-primary-100);
}

*:focus-visible {
    outline: none;
}

::placeholder {
    color: var(--clr-primary-100);
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0.8;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 2px;
    background-color: var(--clr-neutral-100);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form-container {
    width: 70%;
    margin: 3em auto;
    padding: 2em;
    color: var(--clr-primary-100);
    background-color: var(--clr-primary-200);
    border-top: 15px solid;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: var(--clr-primary-100);
    background-color: var(--clr-primary-200);
    border: 2px solid var(--clr-primary-100);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.radio {
    margin-bottom: 2em;
}

p {
    margin-bottom: 0.5em;
}

input[type="radio"],
input[type="checkbox"],
#radio,
#term {
    cursor: pointer;
}

fieldset {
    padding: 0.5em 1em 1em;
    margin-bottom: 2em;
    border-radius: 2px;
    border-color: var(--clr-primary-100);
}

legend {
    font-size: 1rem;
}

textarea {
    min-height: 150px;
    resize: none;
}

.btn {
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-100);
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 0;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: var(--clr-primary-100);
    background-color: var(--clr-neutral-200);
}

@media (max-width: 640px) {
    .form-container {
        width: 95%;
    }
}
